link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='stylesheets/css/animate.css')
link(rel='stylesheet', href='stylesheets/css/icomoon.css')
link(rel='stylesheet', href='stylesheets/css/simple-line-icons.css')
link(rel='stylesheet', href='stylesheets/css/magnific-popup.css')
link(rel='stylesheet', href='stylesheets/css/bootstrap.css')
link(rel='stylesheet', href='stylesheets/css/style.css')
link#theme-switch(rel='stylesheet', href='stylesheets/css/style.css')