extends layout

block footer
    footer#footer(role='contentinfo')
        a.gotop.js-gotop(href='#')
            i.icon-arrow-up2
        .container
            div
            .col-md-12.text-center
                p
                | © #{title} Free HTML5. All Rights Reserved. 
            .row
            .col-md-12.text-center
                ul.social.social-circle
                li
                    a(href='#')
                    i.icon-twitter
                li
                    a(href='#')
                    i.icon-facebook
                li
                    a(href='#')
                    i.icon-youtube