extends ../layout

block header
    header#fh5co-header(role='banner')
        .container
        nav.navbar.navbar-default
            .navbar-header
            a.js-fh5co-nav-toggle.fh5co-nav-toggle(href='#', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                i
            a.navbar-brand(href='index.html') #{title}
            #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li.active
                a(href='#', data-nav-section='home')
                    span Home
                li
                a(href='#', data-nav-section='work')
                    span Work
                li
                a(href='#', data-nav-section='testimonials')
                    span Testimonials
                li
                a(href='#', data-nav-section='services')
                    span Services
                li
                a(href='#', data-nav-section='about')
                    span About
                li
                a(href='#', data-nav-section='contact')
                    span Contact